*{
    margin: 0;
    padding: 0;
}


h2{
    background-image: linear-gradient(to right, Red, rgb(63, 62, 62) 15%, green 20%, rgb(191, 241, 91) 95%, rgb(246, 240, 128));
    text-align: center;
    text-decoration: underline;
}

.menuBar{
    width: 55%;
    border: 3px solid red;
    background-color: skyblue;
    border-radius: 10px;
    position: relative;
    left: 20%;
    margin-top: 15px;
    text-align: center;
}

ul{
    display: inline-block;
    position: relative;
    left: -60px;
    font-size: 14px;
}

.menuItem{
    position: relative;
    left: 60px;
}

.big-box{
    width: 100%;
    border: 1px solid red;
    border-radius: 15px;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 430px 430px 430px;
    grid-template-rows: auto auto;
    justify-content: space-around;
    margin-top: 15px
}

.box{
    border: 3px solid green;
    border-radius: 10px;
    background-color: aqua;
    font-weight: bold;
    text-align: center;
}

.box4{
    grid-column: 2/3;
}

h4{
    margin-top: 25px;
    height: 35px;
    background-image: radial-gradient(circle 750px, rgb(239, 239, 111), red);
    text-align: center;
    text-decoration: underline rgb(185, 70, 3);
}


.outer-container{
    margin-top: 15px;
    height: 350px;
    border: 3px solid green;
    background-image: radial-gradient(rgb(50, 50, 235) 30%, rgb(49, 216, 163) 90%);
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 115px;
    column-gap: 80px;
    align-content: center;
}

.inner-container{
    margin-left: 50px;
    border: 2px solid rgb(158, 1, 1);
    background-color: yellow;
    border-radius: 15px;
    color: rgb(158, 1, 1);
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    /* line-height: 30px; */
}

.grid{
    margin-top: 40px;
    width: 100%;
    border: 1px solid grey;
    display: grid;
    grid-template-columns: 31% 30.5% 30.5% auto;
    grid-template-rows: 45px 70px 150px 22px;
    row-gap: 20px;
    column-gap: 15px;
    justify-content: start;
    align-content: start;
}

.item{
    color: WHITE;
    font-weight: bold;
}

.item1{
    background-color: rgb(223, 59, 81);
    grid-column: 1/5;
    grid-row: 1/2;
    font-size: 22px;
    text-align: center;
}

.item2{
    background-color: rgb(104, 213, 104);
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 26px;
    text-align: center;
}

.item3{
    background-color: rgb(7, 135, 209);
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 28px;
}

.item4{
    background-color: rgb(12, 96, 223);
    grid-column: 3/4;
    grid-row: 2/3;
    font-size: 21px;
}

.item5{
    background-color: rgb(57, 56, 56);
    grid-column: 4/5;
    grid-row: 2/4;
    font-weight: lighter;
    padding: 0 5px;
}

.item5 ol li{
    list-style-position: inside;
}

.item6{
    background-color: orange;
    grid-column: 1/4;
    grid-row: 3/4;
    font-size: 22px;
}

.item7{
    background-color: rgb(109, 227, 227);
    grid-column: 1/5;
    grid-row: 4/5;
    text-align: center;
    color: black;
    font-size: 22px;
}
